         body {
             background-color:pink;
             font-family: sans-serif;   
         }
         h1 {
             font-size: 60px;
             text-align: center;
             font-family:cursive;
         }
         h2 {
             text-align: center;
             font-size: 30px;
         }